body {
    background-color: lightgrey;

}

/* span {
    border: 1px solid black;
} */


.container {
    background-color: white;
    box-shadow: 1px 1px 5px black;

}

.footer-icons {
    border: 1px solid black;
    border-radius: 5px;

}

.categorie-items {
    box-sizing: border-box;
    border: 1px solid black;
    height: 300px;
    width: 300px;

}

.categorie-items>a {
    text-decoration: none;
    color: black;
}

.product-naam {
    text-align: center;
}

.product {
    border: 1px solid black;
    height: 300px;
}

.reviews {
    border: 1px solid black;
}

.name {
    background-color: lightgrey;
}

.icon {
    color: black;
    box-shadow: 1px 1px 10px black;
    text-decoration: none;
}